
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.SpaceDashboard">Dashboard</MudNavLink>
    <AuthorizeView Roles="Authorizer">
        <Authorized>
            @if(TotalTransactions == 0)
            {
               <MudNavLink Href="/Pages/Dashboards/Authorizer/AuthorizerDashboard" Match="NavLinkMatch.All" Icon="@Icons.Filled.AdminPanelSettings">Authorize Dashboard</MudNavLink>
            }
            else{
            <MudBadge Content="TotalTransactions" Color="Color.Primary" Overlap="true" Class="my-4">
                    <MudNavLink Href="/Pages/Dashboards/Authorizer/AuthorizerDashboard" Match="NavLinkMatch.All" Icon="@Icons.Filled.AdminPanelSettings">Authorize Dashboard</MudNavLink>
                </MudBadge>
            }
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Reviewer">
        <Authorized>
            <MudNavLink Href="/Pages/Dashboards/Reviewer/ReviewerDashboard" Match="NavLinkMatch.All" Icon="@Icons.Filled.Checklist">Reviewer Dashboard</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <MudNavGroup Title="Employee Management" Expanded="false" Icon="@Icons.Filled.PeopleAlt">
        <MudNavLink Href="/Pages/AppPages/AddEmployee" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.PersonAddAlt1">Add Employee</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/EmployeeManagement" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ManageAccounts">Manage Employees</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/ReviewersManagement" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.RateReview">Manage Reviewers</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/AuthorizerManagement" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Approval">Manage Authorizers</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Salary Management" Expanded="false" Icon="@Icons.Filled.CreditCard">
        <MudNavLink Href="/Pages/AppPages/SalaryScaleManagement" Icon="@Icons.Filled.CreditCard" Match="NavLinkMatch.Prefix">Manage SalaryScales</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Departments And Conferences" Expanded="false" Icon="@Icons.Filled.HomeWork">
        <MudNavLink Href="/Pages/AppPages/DepartmentManagement" Icon="@Icons.Filled.BusinessCenter" Match="NavLinkMatch.Prefix">Manage Departments</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/ConferencesManagement" Icon="@Icons.Filled.Warehouse" Match="NavLinkMatch.Prefix">Conference Managements</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Budgets And Operating Money" Expanded="false" Icon="@Icons.Filled.AccountBalanceWallet">
        <MudNavLink Href="/Pages/AppPages/AddNewBudget" Match="NavLinkMatch.Prefix">New Budget</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/ManageBudgets" Match="NavLinkMatch.Prefix">Manage Budgets</MudNavLink>
        <MudNavLink Href="/Pages/AppPages/OperatingIncomeExpenseManagement" Match="NavLinkMatch.Prefix">Manage Operating Income/Expenses</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
    <MudNavLink Href="/Pages/AppPages/LogOut" Icon="@Icons.Filled.Logout" Match="NavLinkMatch.Prefix">Log Out</MudNavLink>
</MudNavMenu>

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NZUCManagementSystemIA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@
